<center>
<h1>Delete Book</h1>

<%= form_for(@book, :method => 'delete') do |f| %>

  <p>Confirm deletion?</p>
  <p><%= @book.title %></p>

  <%= f.submit("Delete Book") %>
  <% end %>

<%= link_to 'Back to Home', books_path %>
</center>
